<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera_depth">

    <link name="camera_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="-1">
        <origin xyz="0.00565 -0.06482 -0.00494" rpy="0 -0.7854 0"/>
        <geometry>
          <box size="0.0356 0.03427 0.0506"/>
        </geometry>
        <material name="black"/>
      </visual>
      <collision name="-1">
        <origin xyz="0 0 0" rpy="0 -0.7854 0"/>
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
      </collision>
    </link>

    <joint name="camera_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_joint"/>
        <origin xyz="0.0 0.0 5" rpy="0.0 0.0 0.0"/>
    </joint>

    <material name="black">
      <color rgba="0.1 0.1 0.1 1.0"/>
    </material>

    <!-- <link name="camera_link">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.05 0.05 0.05"/>
        </geometry>
        </visual>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.05 0.05 0.05"/>
        </geometry>
        </collision>
        <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.12"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
    </link>

    <joint name="camera_joint" type="fixed">
        <parent link="root"/>
        <child link="camera_link"/>
        <origin xyz="0.0 0.0 5" rpy="0.0 0.0 0.0"/>
    </joint>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_optical_joint"/>
        <origin xyz="0.0 0.0 0.0" rpy="-1.57 0.0 -1.57"/>
    </joint>

    <link name="camera_link_joint"></link>

    <gazebo reference="camera_link">

    </gazebo> -->

</robot>
